# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/

# VSCode settings
.vscode/

# MacOS
.DS_Store

# Large model file
best_model/model.safetensors
